# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/

# pip environment files
*.env
*.venv

# VS Code settings (optional)
.vscode/

# macOS system files (optional)
.DS_Store
